.container {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}

.btn-mylyrics {
    color: #fff;
    background-color: #d00505;
    border-color: #d00505;
}

.no-radius {
    border-radius: .0rem;
}

.red-mylyrics {
  color: #d00505;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid rgba(0,0,0,.1);
  border-color: rgba(0,0,0,.1) transparent rgba(0,0,0,.1) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

ul.suggestions {
  padding: 10px;
  list-style-type: none;
  text-align: left;
}

ul.suggestions li:hover {
  color: #007bff;
  cursor: pointer;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
