<form class="container text-center">
  <img class="mb-4" src="assets/img/my_lyrics_logo.png" alt="logo">

  <div class="input-group mb-3">
    <input type="text" class="form-control no-radius" placeholder="Enter your favorite band" ng-change="onChange()" ng-model="search" value="{{search}}">
  </div>

  <ul class="suggestions">
    <li ng-repeat="item in response"><a ng-click="onLinkClick(item)">{{item.artist.name}}, {{item.title}}</a><hr></li>
  </ul>

  <p class="mt-5 mb-3 text-muted">© 2018</p>
</form>
